<template>
    <v-tooltip bottom :disabled="!tooltip" v-if="hasRole">
        <template v-slot:activator="{on}">
            <span v-on="on">
                <v-btn 
                    v-bind="$attrs"
                    v-on="$listeners"
                >
                    <slot />
                </v-btn >
            </span>
        </template>
        <span v-if="tooltip">{{ $t(tooltip) }}</span>
    </v-tooltip>
</template>

<script>
    import { mapState } from 'vuex'

    const AUTH_MODULE = 'auth';

    export default {
        props: {
            roles: {
                type: Array,
                default: () => ([])
            },
            tooltip: String
        },

        name: 'ButtonRole',

        computed: {
            ...mapState(AUTH_MODULE, ['user_roles']),
            
            hasRole () {
                return this.roles.filter((e)=>{ 
                    return this.user_roles.indexOf(e) > -1;
                }).length > 0 || !this.roles.length;
            }
        }

    }
</script>