<template>
    <div>
        
        <template>
            <v-layout  wrap>
                <v-flex xs10>
                    <v-form ref="form">
                            <v-layout row wrap>

                                <v-menu
                                    bottom
                                    transition="scale-transition"
                                    :close-on-content-click="false"
                                    v-if="dynamic_filters.length"
                                >
                                    <template v-slot:activator="{ on }">
                                        <v-btn v-on="on" class="mx-2 filter-button" fab dark small color="#0c8db1">
                                            <v-icon dark>mdi-filter-variant</v-icon>
                                        </v-btn>   
                                    </template>

                                    <v-list>
                                        <v-list-item>
                                            <v-form>
                                                <h3 class="filter-header">{{ $t('filters') }}</h3>
                                                <v-row v-for="(filter, index) in dynamic_filters" v-bind:key="filter.field + index" class="filter-row">
                                                    <v-col cols="6" md="6">
                                                        <v-select
                                                            clearable
                                                            :items="available_filters"
                                                            :label="$t('mode')"
                                                            item-text="value"
                                                            item-value="key"
                                                            v-model="filter.mode"
                                                        ></v-select>                                                        
                                                    </v-col>

                                                    <v-col cols="6" md="6">
                                                        <date-picker v-model="filter.value" v-if="filter.type && filter.type == 'date'"  :label="$t(filter.field)" />
                                                        
                                                        <v-text-field
                                                            v-else-if="filter.type && filter.type == 'number'"
                                                            :label="$t(filter.field)"
                                                            required
                                                            clearable
                                                            v-model="filter.value"
                                                            type="number"
                                                        ></v-text-field> 

                                                        <v-text-field
                                                            v-else
                                                            :label="$t(filter.field)"
                                                            required
                                                            clearable
                                                            v-model="filter.value"
                                                            :maxlength="100"
                                                            :counter="100"
                                                        ></v-text-field>
                                                    </v-col>
                                                </v-row>
                                            </v-form>
                                        </v-list-item>
                                    </v-list>
                                </v-menu>

                                <v-flex xs9 md5 sm8>
                                    <v-text-field
                                        class = "grid-search"
                                        append-icon="mdi mdi-filter-outline"
                                        :label="$t(search_place_holder)"
                                        single-line
                                        hide-details
                                        clearable
                                        v-model="grid.static_filters.search"
                                    ></v-text-field>
                                </v-flex> 
                                <v-flex xs12 md3 sm12 v-if="showStatusFilter">
                                    <v-select
                                        :items="status_list"
                                        v-model="grid.static_filters.selected_status"
                                        attach
                                        chips
                                        multiple
                                        item-value="key"
                                        item-text="value"                                        
                                        style="margin-top: -6px; margin-left: 10px;"
                                    ></v-select> 
                                </v-flex>             
                            </v-layout>                    
                    </v-form>
                </v-flex>
            </v-layout>

            <v-layout  row wrap >
                <v-flex xs12>
                    <v-data-table
                        v-model="selected_records"
                        :headers="headers"
                        :items="data"
                        :options.sync="grid"
                        :loading="loading"
                        @input="onSelect($event)"
                        :items-per-page-options="grid.rowsPerPageItems"
                        :server-items-length="total_rows"
                        :footer-props="{
                            itemsPerPageOptions: grid.rowsPerPageItems
                        }"
                        :rows-per-page="1"
                        :multi-sort="true"  
                        @click:row="rowClick"
                        :show-select="showSelect"
                        class="grid-view"
                        dense
                    >
                        <template v-slot:item.actions="{ item }">
                            <v-card-actions>                             
                                <slot v-bind:item="item" name="actions"></slot>
                            </v-card-actions>                                
                        </template>

                        <template slot="footer">
                            <slot name="footer"></slot>
                        </template>
                    </v-data-table>
                </v-flex>
            </v-layout>
                        
        </template>

    </div>
</template>

<script>
    import {mapState} from 'vuex'

    const SYSTEM_MODULE = 'system';
    var timer = null;

    export default {
        name: 'MaterialDataTable',

        created () {
            this.dynamic_filters = this.general_config.dynamic_filters;
            this.grid = this.general_config;

            this.status_list = [
                {key: 1, value: this.$t('active')},
                {key: 0, value: this.$t('inactive')},
            ];            
        },

        computed: {
            ...mapState(SYSTEM_MODULE, ['filter_modes']),

            available_filters () {
                return this.filter_modes.map((e)=>{
                    return {key:e, value: this.$t(e)}
                });
            }
        },

        data () {
            return {
                selected_records: [],
                grid: {
                    search: '',
                    selected_status: [1],
                    page: 1,
                    descending: true,
                    rowsPerPage: 10,
                    rowsPerPageItems: [20, 40, 80],
                    static_filters: {
                        search: '',
                        selected_status: [1],
                    },
                    dynamic_filters: []           
                },
                search_text: '',
                status_list: [1,2],
                dynamic_filters: [],
                loading_data: false
            }
        },

        methods: {
            rowClick (row) {
                this.$emit('onClick', row);
            },

            onSelect (selected_records) {
                this.$emit('onSelect', selected_records);
            },

            griChange () {
                if(timer) clearTimeout(timer);

                //Avoid to call backend filter on every user keyboard input
                timer = setTimeout(() => {
                    this.$emit('onChange', this.grid);
                }, 500);
            },

            cleanFilters (filters) {
                this.dynamic_filters = Object.clone(filters).dynamic;
                this.grid.dynamic_filters = this.dynamic_filters;
                this.grid.static_filters = Object.clone(filters).static;
            }
        },

        watch: {
            grid: {
                deep: true,
                handler () {
                    //Triger filter chage on user input
                    this.griChange();
                }
            },

            dynamic_filters: {
                deep: true,
                handler () {
                    //Watching dynamic filter changes
                    this.grid.dynamic_filters = this.dynamic_filters;  
                }
            }
        },

        props: {
            data: {
                type: Array,
                default: () => ([])
            },

            headers: {
                type: Array,
                default: () => ([])
            },

            general_config: {
                type: Object,
                required: true
            },

            total_rows: {
                type: Number
            },

            showSelect:  {
                type: Boolean,
                default: true
            },

            search_place_holder:  {
                type: String,
                default: ''
            },

            loading: {
                type: Boolean,
                default: () => (false)
            },

            showStatusFilter: {
                type: Boolean,
                default: () => (true)
            },
            
        }
    }
</script>

<style lang="scss">
    span.actions{
        padding: 7px;
       
        margin: 2px;
        border: 1px solid #cecece;
    }

    span.actions i{
        font-size: 20px;
        cursor: pointer;
    }

    .grid-search {
        margin-left: 10px;
    }

    .grid-search-container{
        position: relative;
        height: 60px;
        max-width: 400px;
    }

    .filter-button {
        margin-top: 10px;
    }

    .grid-view {
        margin-top: 10px;
        table-layout : fixed;

        table {
            border-collapse: collapse;

            thead tr th {
                background: #3a6ba0;
                color: #fff !important;

                .v-simple-checkbox {
                    color: #fff;
                }

                i, span {
                    color: #fff !important;
                }
            }
        }

        .v-card__actions button{
            height: 30px !important;
            width: 30px !important;
        }

        .v-card__actions button span i {
            font-size: 18px !important;
        }        
    }

    @media screen and (min-width: 600px) {
         .grid-view table{
            thead tr th,
            tbody tr td {
                border: 1px solid #cecece;
            }

            thead tr th:first-child,
            tbody tr td:first-child {
                border-left: none;
            }

            thead tr th:last-child,
            tbody tr td:last-child {
                border-right: none;
            }
         }
    }

    h3.filter-header{
        margin-bottom: 20px;
    }

    .filter-row{
        margin-top: -30px;
    }
</style>