<template>
    <div>
        <v-tabs
        v-model="tab"
        background-color="indigo"
        dark
        show-arrows
        class="tab-container"
        >
            <v-tab
                v-for="r in allowed_routers"
                :key="r.path"
                v-on:click="()=>{ setRouter(r) }"
            >
                {{ $t('menu_options.' + r.name) }}
            </v-tab>
        </v-tabs>

        <div>
            <router-view> </router-view>
        </div>
    </div>
</template>

<script>

    import { mapState } from 'vuex'
    import RouterSecurity from '@/store/modules/auth/router_security'

    const AUTH_MODULE = 'auth';

    export default {
        name: 'TabsManager',

        data () {
            return {
                tab:  -1
            }
        },

        props: {
            routers: {
                type: Array,
                default: ()=>{ return []; }
            }
        },

        computed: {
            ...mapState(AUTH_MODULE, ['user_roles']),

            allowed_routers () {
                const router_options = this.routers.filter((e)=>{
                    return RouterSecurity.checkAuth(this.user_roles, e);
                });

                const current_route = this.$router.currentRoute.name;
                const mantainance_route = current_route.split('_');
                // eslint-disable-next-line 
                this.tab = router_options.findIndex(i => i.name === current_route);

                //If no router is specified, the system will take the first available one
                if((mantainance_route.length > 0 && mantainance_route[1] == 'mantainance') && router_options.length) {
                    // eslint-disable-next-line 
                    this.$router.push(router_options[0].path);
                    // eslint-disable-next-line 
                    this.tab = 0;
                }

                return router_options;              
            }
        },

        methods: {
            setRouter (r) {
                this.$router.push({'name': r.name});
            }
        }
    }
</script>

<style scoped>
    .tab-container {
        margin-top: -21px;
        z-index: 1;
        position: relative;
    }
</style>