<template>
    <v-row class="tool-box--component">
            <div class="flex-grow-1"></div>
            <v-col class="mr-auto" cols="12">    
                <div class="tool-box">
                    <v-row>
                        <v-col cols="12"> 

                            <v-tooltip bottom v-for="(button, index) in button_list" v-bind:key="index"  :disabled="!button['tooltip']">
                                <template v-slot:activator="{on}">
                                    <span v-on="on">

                                        <v-btn class="mx-2" fab dark small :color="button.color" v-on:click="button.onClick" :type="button.type ? button.type : 'button'">
                                            <v-icon color="#fff">{{ button.icon}}</v-icon>
                                        </v-btn>

                                    </span>
                                </template>
                                <span v-if="button['tooltip']">{{ $t(button['tooltip']) }}</span>
                            </v-tooltip>

                        </v-col>
                    </v-row>
                </div>
            </v-col>
        </v-row>                
</template>

<script>
    import { mapState } from 'vuex'

    const AUTH_MODULE = 'auth';

    var default_buttons = {
        NEW: (current_module) => {
            return {
                name: 'new',
                icon: 'mdi-plus',
                color: 'teal',
                tooltip: 'new_record',
                onClick: () => {
                    var current_route = current_module.$route.path;
                    current_module.$router.push(current_route + '/editorcrate');
                }
            }
        },

        SAVE: (current_module) => {
            return {
                name: 'save',
                icon: 'mdi-content-save',
                color: 'blue',
                tooltip: 'save_record',
            }
        },

        DELETE: (current_module) => {
            return {
                name: 'delete',
                icon: 'mdi-delete',
                color: 'red',
                tooltip: 'delete_record',
            }
        },

        CANCEL: (current_module) => {
            return {
                name: 'cancel',
                icon: 'mdi-close',
                color: 'red',
                tooltip: 'cancel_operation',
                onClick: () => {
                    current_module.$router.go(-1);
                }
            }
        },

        DEACTIVATE: (current_module) => {
            return {
                name: 'deactivate',
                icon: 'mdi-block-helper',
                color: 'red',
                tooltip: 'deactivate_record',
                onClick: () => {
                    
                }
            }
        },

        CLEAN_FILTER: (current_module) => {
            return {
                name: 'clean_filters',
                icon: 'mdi-filter-remove-outline',
                color: 'warning',
                tooltip: 'clean_filter',
                onClick: () => {
                    
                }
            }
        }
    };


    export default {
        name: 'ToolBox',
        inheritAttrs: false,
    
        props: {
            buttons: {
                type: Array,
                required: true
            }
        },

        methods: {
            hasRole (require_role) {
                return this.user_roles.indexOf(require_role) > -1;
            }
        },

        computed: {
            ...mapState(AUTH_MODULE, ['user_roles']),

            button_list () {
                return this.buttons.map((e)=>{     
                    /*If the name of the button correspond to a predefined buttons, 
                    *then the button will take its predefined behaviour
                    */     
                    if(e.name && default_buttons[e.name.toUpperCase()]){
                        var button = default_buttons[e.name.toUpperCase()](this);
                        button.roles = e.roles;

                        //Overwritting button onClick event
                        if(e.onClick)
                            button.onClick = e.onClick;
                        else{
                            if(!button.onClick)
                                button.onClick = ()=>{};
                        }

                        return button;
                    }
                    
                    if(!e['onClick']) e.onClick = ()=>{};     

                    return e;
                }).filter((e)=>{
                    //Show button if there is no role assigned
                    if(!e.roles || !e.roles.length) return true;

                    //Checking if the user has at least one required role
                    return e.roles.filter(this.hasRole).length > 0;
                });
            }
        }

    }

</script>

<style>
    .tool-box--component {
        position: sticky ;
        top: 40px;
    }

    .tool-box--component .tool-box{
        float: right;
        margin-right: 5px;
        position: relative;
    }

    .tool-box .v-btn-toggle{
        box-shadow: none !important;
        background: none !important;
    }

    .tool-box .v-btn-toggle button{
        margin-left: 7px;
        background: #FFFFFF;
        box-shadow: 0px 1px 2px #cecece !important;
    }

    .tool-box .v-btn-toggle button span i {
        font-size: 35px !important;
    }
</style>