<template>
    <v-form ref="form" autocomplete="off" lazy-validation 
          onSubmit="return false;" v-model="form_is_valid">
        <v-card>
            <v-card-title>
                <span class="headline">{{ $t('item_crud')}}</span>
            </v-card-title>
            
            <v-card-text>

                <v-container class="modal-container">

                    <v-text-field
                        id="product_name"
                        :label="$t('product_name')"
                        clearable
                        v-model="form.name"
                        ref="product_name"
                        :rules="form_rules.required"
                        required
                    ></v-text-field>

                    <v-row>
                        <v-col xs6 md6 sm8>
                            <v-text-field
                                required
                                :rules="form_rules.required"
                                :label="$t('quantity')"
                                clearable
                                v-model="form.quantity"
                                type="number"

                            ></v-text-field>
                        </v-col> 

                        <v-col xs6 md6 sm8>
                            <v-text-field
                                :label="$t('unit_cost')"
                                clearable
                                v-model="form.unit_cost"
                                type="number"
                                required
                                :rules="form_rules.required"
                            ></v-text-field>
                        </v-col>                     
                    </v-row>
                    
                </v-container>
            </v-card-text>
            
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" class="btn-cancel" text @click="cancel">{{ $t('close')}}</v-btn>
                <v-btn color="blue darken-1" class="btn-save" type="submit" text @click="save"> {{ $t('save')}} </v-btn>
            </v-card-actions>
        </v-card>
    </v-form>
</template>

<script>
    import {mapState} from 'vuex'
    import FormUtils from '@/mixins/form_utils'
    import FormMixin from './index'

    const CURRENT_MODULE = 'item';

    export default {
        mixins: [FormUtils, FormMixin],

        data: () => ({
            form_is_valid: true
        }),

        created () {
            setTimeout(()=>{
                document.getElementById('product_name').focus();
            }, 100);

            //Loading record on edit
            var record_id = this.$route.params['id'] || null;
            if(record_id) this.get(record_id);

            this.buttons = [
                {name: 'SAVE', onClick: this.save, roles:[(record_id ? 'change': 'add') + '_item']},
                {name: 'CANCEL'}
            ];
        },

        computed: {
            ...mapState(CURRENT_MODULE, ['form']),
        },
        
        methods: {
            validateForm() {

            },

            cancel () {
                this.$emit('onCancel');
            }
        }
    }
</script>


<style>
    .btn-save{
        color: #356da9 !important;
        font-weight: bold;
    }

    .btn-cancel{
        color: #f00 !important;
        font-weight: bold;
    }
</style>