<template>
    <v-container fluid>
        <tool-box :buttons="buttons" />
        
        <material-data-table        
            :headers="default_grid_headers"
            :data="all_records"
            :loading="loading"
            :general_config="records_config.general_config"
            :total_rows="records_config.total_rows"
            :show-status-filter="false"
            @onChange="getRecords"
            @onSelect="setSelectedRecords"
            search_place_holder="filter_by_product_name"
            ref="grid_view"
        >
            <template v-slot:actions="row">
                <button-role :roles="[]" tooltip="edit_record" class="mx-2" fab dark small color="primary" v-on:click="()=>{ editRecord(row.item) }">
                    <v-icon dark>mdi-pencil</v-icon>
                </button-role>       
            </template>     

            <template slot="footer">
                <div class="v-data-table__wrapper">
                    <table>
                        <thead class="v-data-table-header">
                            <tr class="footer">
                                <th colspan="2" class="text-start sortable"><span>Totales:</span></th>
                                <th class="text-right sortable" style="width: 20%; min-width: 20%;"><span> {{ summary.quantity }}</span></th>
                                <th class="text-right sortable" style="width: 20%; min-width: 20%;"><span>{{ summary.unit_cost.format() }}</span></th>
                                <th class="text-right sortable" style="width: 20%; min-width: 20%;"><span>{{ summary.total_amount.format() }}</span></th>
                                <th class="text-left" style="width: 5%; min-width: 5%;"><span></span></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </template>
        </material-data-table>     

        <v-dialog v-model="show_filter" max-width="600px" persistent>
            <item-form  @onClose="getRecords" @onCancel="show_filter = false" />
        </v-dialog>
    </v-container>
</template>

<script>
    import { mapState } from 'vuex'
    import FormUtils from '@/mixins/form_utils'
    import FormMixin from './index'
    import ItemForm from './Form.vue'

    const CURRENT_MODULE = 'item';

    export default {
        components: {
            ItemForm
        },

        mixins: [FormUtils, FormMixin],

        data: ()=>({
            show_filter: false
        }),

        created () {
            this.buttons = [
                {name: 'NEW', onClick: this.addNewRecord, roles: []},
                {name: 'DEACTIVATE', onClick: this.deactivateRecord, roles: ['change_item', 'deactivate_item']},
                {name: 'CLEAN_FILTER', onClick: this.cleanFilters},
            ];
        },

        computed: {
            ...mapState(CURRENT_MODULE, ['records_config', 'summary']),

            default_grid_headers () {
                return this.records_config.grid_headers.map((e)=>{
                    e.text = this.$t(e.text);
                    return e
                });
            },

            all_records () {
                return this.records_config.records.map((e)=>{
                    e.is_active_description =  this.getIsActiveDescription(e.is_active);
                    return e;
                })
            }
        },

        methods: {
            addNewRecord () {
                this.show_filter = true;
                setTimeout(()=>{
                    try {
                        this.$refs.form.resetValidation();
                        document.getElementById('product_name').focus();
                    } catch (e) {
                        
                    }
                }, 100);
            }
        }

    }
</script>


<style>
    table tr.footer th{
        background-color: #0c8db1 !important;
        font-size: 14px;
    }
</style>