<template>
    <v-row class="selector" justify="center">
        <v-col cols="12" lg="5" md="5" class="available-options">
            <h2>{{ availableText }}</h2>
            <v-text-field
                :label="filterText"
                single-line
                outlined
                class="selector-search"
                append-icon="mdi mdi-magnify"
                v-model="search"
            ></v-text-field>

            <select multiple v-model="input_available_options" >
                <option v-for="(option, index) in itemText ? available_object_options : available_options" :value="option" v-bind:key="index"> {{ itemText ? option[itemText] : option }} </option>
            </select>
        </v-col>

        <v-col cols="12" lg="2" md="2" class="selector-chooser">
            <ul>
                <li>
                    <a :title="chooseText" id="id_user_permissions_add_link" class="selector-add active" v-on:click="addSelected">
                        <v-icon color="tertiary" class="hidden-sm-and-down">
                            mdi-arrow-right-bold-circle
                        </v-icon>

                        <v-icon color="tertiary" class="hidden-md-and-up">
                            mdi-arrow-down-bold-circle
                        </v-icon>                        
                    </a>
                </li>
                <li>
                    <a :title="removeText"  id="id_user_permissions_remove_link" class="selector-remove active" v-on:click="removeSelected">
                        <v-icon color="tertiary" class="hidden-sm-and-down">
                            mdi-arrow-left-bold-circle
                        </v-icon>

                        <v-icon color="tertiary" class="hidden-md-and-up">
                            mdi-arrow-up-bold-circle
                        </v-icon>      
                    </a>
                </li>
            </ul>
        </v-col>

        <v-col cols="12" lg="5" md="5" class="selected-options">
            <h2>{{ selectedText }}</h2>
            <select multiple v-model="input_selected_options">
                <option v-for="(option, index) in selected_options_list" :value="option" v-bind:key="index"> {{ itemText ? option[itemText] : option }} </option>
            </select>
        </v-col>
    </v-row>
</template>

<script>
    export default {
        props: {
            items: {
                type: Array,
                default: () => ([])
            },

            itemText: {
                type: String,
                default: () => ("")                
            },

            itemValue: {
                type: String,
                default: () => ("")                
            },

            selected: {
                type: Array,
                default: () => ([])                
            },

            availableText: {
                type: String,
                default: () => ("Available options")                
            },

            selectedText: {
                type: String,
                default: () => ("Selected options")                
            },

            filterText: {
                type: String,
                default: () => ("Search")                
            },

            chooseText: {
                type: String,
                default: () => ("Choose")                
            },

            removeText: {
                type: String,
                default: () => ("Remove")                
            },
        },

        data () {
            return {
                search: '',
                selected_options: [],
                input_available_options: [],
                input_selected_options: []
            }
        },

        created () {
            this.selected_options = this.selected;
        },

        computed: {
            available_options () {
                return this.items.filter((e)=>{
                    return e.toLowerCase().indexOf(this.search.toLowerCase()) >- 1 && !this.isSelected(e);
                })
            },

            available_object_options () {
                return this.items.filter((e)=>{
                    return e[this.itemText].toLowerCase().indexOf(this.search.toLowerCase()) >- 1 && !this.isObjectSelected(e);
                });
            },

            selected_options_list () {
                return this.selected_options;
            }
        },

        methods: {
            isSelected (value) {
                if(this.selected_options.length == 0) return false;
                return this.selected_options.indexOf(value) > -1;
            },

            isObjectSelected (value) {
                if(this.selected_options.length == 0) return false;
                const search_value = value[this.itemValue];
                return this.selected_options.find(element => element[this.itemValue]  == search_value);
            },

            addSelected () {
                this.selected_options = this.selected_options.concat(this.input_available_options);
                this.onChange();
                this.input_available_options = [];
            },

            removeSelected () {
                this.selected_options = this.selected_options.filter((e)=>{
                    return !this.input_selected_options.find(element => element == e);
                });
                this.onChange();
                this.input_selected_options = [];
            },

            onChange () {
                this.$emit('change',  this.selected_options);
            }
        },

        watch: {
            selected: {
                handler (value) {
                    this.selected_options = value;
                },
                deep: true
            }
        }
    }
</script>

<style scoped lang="scss">
    .selector {
        display: flex;
        width: 100%;
    }

    .available-options,
    .selected-options{
        border: 1px solid #ccc;
        padding: 0px !important;
        box-shadow: 1px 2px 10px #dadada;
        border-radius: 5px;

        h2 {
            background: #f8f8f8;
            color: #666;
            margin: 0;
            padding: 10px;
            font-weight: 400;
            font-size: 17px;
            text-align: left;            
            border-bottom: 1px solid #ccc;
            border-radius: 5px 5px 0 0;
        }

        .selector-search {
            margin: 14px;
            margin-bottom: 0px;
            height: 72px;
            overflow: hidden;
        }

        select {
            height: 17.2em;
            width: 100%;
            border-top: 1px solid #ccc;
            font-size: 16px;
            letter-spacing: normal;
            color: rgba(0, 0, 0, 0.87);
            padding: 5px;
            option {
                padding: 10px;
                border-bottom: 1px solid #e2dada;
            }

            option:hover {
                background: #3a6ba0;
                cursor: pointer;
                color: #fff;
            }
        }

        select:focus {
            outline: none;
        }
    }


    .selected-options {
        h2 {
            background: #3a6ba0;
            color: #fff;
            border: none;
        }

        select {
            height: calc(100% - (43px));;          
        }
    }

    .selector-chooser{
        text-align: center;
        vertical-align: middle;
        ul {
            width: 40px;
            background-color: #eee;
            border-radius: 10px;
            margin: 10em auto 0 auto;
            padding: 4px 5px 3px 4px;
            border: 1px solid #ccc;

            li {
                list-style: none;

                a {
                    display: block;
                    text-indent: -3000px;
                    overflow: hidden;
                    cursor: pointer;
                    margin-bottom: 5px;

                    i {
                        display: block;
                        color: #666666;
                        font-size: 30px;
                    }

                    :hover {
                        color: #3a6ba0;
                    }
                }
            }
        }
    }    

    @media only screen and (max-width: 959px) {
        .selector-chooser ul {
            margin: 1em auto 0 auto;
        }
    }
</style>
