<template>
        <v-app-bar
            id="core-app-bar"
            app
            flat
            prominent
            style="background: #a5b0b9; height: auto;"
        >

        <div class="v-toolbar-title">
            <v-toolbar-title
                class="tertiary--text font-weight-light"
            >
                <v-btn
                    v-if="responsive"
                    class="default v-btn--simple"
                    dark
                    icon
                    @click.stop="onClickBtn"
                >
                    <v-icon>mdi-view-list</v-icon>
                </v-btn>
            </v-toolbar-title>
        </div>
                
        <v-spacer />
    
        <v-toolbar-items>
          <v-row
            align="center"
            class="mx-0"
          >
    
            <v-btn
              icon
              to="/"
            >
              <v-icon color="tertiary">
                mdi-view-dashboard
              </v-icon>
            </v-btn>
    
            <div class="text-center">
                <v-menu
                v-model="menu"
                :close-on-content-click="false"
                :nudge-width="200"
                offset-x
                >
                    <template v-slot:activator="{ on }">
                        <v-btn  @click="menu = true" icon>
                            <v-icon color="tertiary">
                                mdi-account-outline
                            </v-icon>
                        </v-btn>
                    </template>

                    <v-card>
                        <v-list>
                        <v-list-item>
                            <v-list-item-avatar class="avatar-user top-menu">
                                <i class="mdi mdi-account-outline"></i>
                            </v-list-item-avatar>

                            <v-list-item-content>
                            <v-list-item-title>{{ logged_user.username }}</v-list-item-title>
                            <v-list-item-subtitle>{{$t('last_access', {time: getDate( logged_user.last_access )}) }}</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                        </v-list>

                        <v-divider></v-divider>

                        <v-list>
                        <v-list-item>
                            <v-list-item-action>
                            </v-list-item-action>
                            <v-list-item-title class="change-pwd-link" v-on:click="showDialog">{{$t('change_password')}}</v-list-item-title>
                        </v-list-item>

                        </v-list>

                        <v-card-actions>
                        <v-spacer></v-spacer>

                        <v-btn color="primary" text @click="logout">{{ $t('logout') }}</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-menu>
            </div>            
          </v-row>
        </v-toolbar-items>

      </v-app-bar>
</template>

<script>

import helpers from '@/helpers'
import moment from 'moment'

const AUTH_MODULE = 'auth';
const SYSTEM_MODULE = 'system';

import {
  mapMutations,
  mapState,
  mapActions
} from 'vuex'

export default {
    data: () => ({
        prev_password: '',
        password: '',
        password_confirm: '',
        show_dialog: false,
        title: null,
        responsive: false,
        menu: false
    }),

    watch: {
        '$route' (val) {
        this.title = val.name
        }
    },

    mounted () {
        this.onResponsiveInverted()
        window.addEventListener('resize', this.onResponsiveInverted);
    },

    beforeDestroy () {
        window.removeEventListener('resize', this.onResponsiveInverted)
    },

    computed:{
        ...mapState(AUTH_MODULE, ['logged_user'])
    },

    methods: {
        ...mapMutations({
            setLoggedUser: AUTH_MODULE + '/setLoggedUser',
            toggleDrawer: SYSTEM_MODULE + '/toggleDrawer'
        }),
        
        ...mapActions({
            logoutUser : AUTH_MODULE + '/logOut',
            changePassword: AUTH_MODULE + '/changePassword'
        }),

        onClickBtn () {
            this.toggleDrawer()
        },

        logout () {
            this.menu = false;
            this.logoutUser();
        },

        onClick () {
            //
        },

        close () {
            this.password = '';
            this.password_confirm = '';
            this.prev_password = '';
            this.show_dialog=false;
        },

        async changeUserPassword () {
            if(!this.password.trim()) {
                helpers.showMessage(this, 'MUST_SPECIFY_PASSWORD');
                return false;
            }

            if(this.password_confirm != this.password){
                helpers.showMessage(this, 'PASSWORD_NOT_MATCH');
                return false;
            }

            this.saving = true;
            const credetials = {
                last_password: this.prev_password,
                password: this.password            
            };

            const response = await this.changePassword(credetials).catch(()=>{});
            
            helpers.showMessage(this, response && response.success ? 'PASSWORD_CHANGE_SUCCESS' : 'ERROR_CHANGIN_PASSWORD');
            this.saving = false;

            //Closing dialog
            if(response && response.success) {
                if(!this.logged_user.last_access) {
                    this.logged_user.last_access = new Date();
                    this.setLoggedUser(this.logged_user);
                }

                this.close();       
            }
        },

        showDialog () {
            this.show_dialog = true;
        },

        getDate(date) {
            return moment(date).format('DD-MM-YYYY h:m:s a').toUpperCase();
        },

        onResponsiveInverted () {
            if (window.innerWidth < 991) {
                this.responsive = true
            } else {
                this.responsive = false
            }
        }
  }
}
</script>

<style lang="scss">
    #core-app-bar{
        #core-toolbar a {
            text-decoration: none;
        }

        .v-toolbar-title button span{
            color: #000!important;
            cursor: pointer;
        }

        .v-toolbar__content{
            height: auto !important;
            background: #3a6ba0;
            box-shadow: 1px 1px 5px #6d6c6c;
        }

        .v-btn__content i {
            color: #fff !important;      
        }
    }

    .change-pwd-link{
        cursor: pointer !important;
    }

    .top-menu.avatar-user {
        font-size: 45px;
    }
</style>
